*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container{
	position: relative;
	height: 40vw;
	width: 40vw;
	margin: 55px auto;
	background: url(img/clock.png) no-repeat;
	background-size: 100% ;
}

#hour,#min,#sec{
	position: absolute;
	border-radius: 9px;
	background-color: black;
	transform-origin: bottom;
}

#hour{
	height: 28%;
	width: 1.3%;
	top: 20.7%;
	left: 49.3%;
	opacity: 0.8;
	
}

#min{
	height: 38%;
	width: 1.1%;
	top: 10.5%;
	left: 49.8%;
	opacity: 0.8;
}

#sec{
	height: 32%;
	width: 1%;
	top: 17.2%;
	left: 49.95%;
	opacity: 0.8;
}